<div class="dealer-locator-map">
  <div id="google-map-container">
    <div id="google-dealer-map"></div>
  </div>
  </div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
