<!-- /templates/index.liquid -->

<div class="index-sections">
  {{ content_for_index }}
</div>
<!-- Popup -->
<a style="display:none;" class="btn btn-default custom_popup_mc_feather" href="https://www.apexskiboots.com/pages/popup .ajaxcontent" data-featherlight="ajax">Ajax</a>