<!-- /templates/page.liquid -->
<style>
.popup { padding-bottom: 50px; padding-top: 50px; }
.popup__social { font-size: 24px; }
.popup__social .icon { width: 64px; height: 64px; line-height: 64px; vertical-align: middle; }
.popup__social .icon:before { font-size: 36px; }
</style>
<div class="popup">
  <h2 style="padding-left: 0;">Thanks for signing up!</h2>
  <div class="popup__row" style="margin-top: 30px;">
    <a href="https://www.facebook.com/Apexskiboots" target="_blank" class="popup__social"><span class="icon icon-facebook" aria-hidden="true"></span> /apexskiboots</a>
  </div>
</div>